@charset "utf-8";
.font {
  font-family: 'Arial';
}
img {
  width: 20%;
}
dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.negou{
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 3.0em;
  position: relative;
}

dl dt {
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 0.5em;
  position: relative;
}

dl dt::after {
  content: '●';
  position: absolute;
  left: 0.90em;
  bottom: -4px;
  font-size: 30px;
  color: rgb(0, 126, 0);
}

dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2.0em 3.0em;
  border-left: 2px solid #ccc;
}

dl dd h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 5px;
}

